body{
    margin: 0%;
    padding: 0%;
}

.continair{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.sidbar{
    width: 20%;
    height: 100vh;
    background-color: rgb(16, 209, 54);
    display: flex;
    flex-direction: column;
}
.contenu{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 10vh;
    background-color: rgb(16, 212, 68);
    border-left: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal, vertical, flou, couleur */
}

.combonate {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal, vertical, flou, couleur */
}

.combonate h3{
    color: white;
}
.options{
    width: 100%;
    height: 90vh;
    padding-top: 20px;
    padding-left: 10px;

}
.options a{
    text-decoration: none;
    color:white;
}
.options a b {
    margin-left: 10px;
    color: white;
}























