.liste_periode{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top: 3%;
    display: flex;
    overflow: scroll;
    /* background-color:red; */
}
.liste_periode::-webkit-scrollbar {
    width: 1px;
}

.liste_periode::-webkit-scrollbar-track {
    background: #fff; /* couleur de fond du défilement */
}

.liste_periode::-webkit-scrollbar-thumb {
    background: #fff; 
}