.header_gestion_terrain{
    width: 300px;
    padding: 10px;
    height: 10vh;
    margin-top: -1%;
}


input[type="search"]{
    width: 98%;
    height: 45px;
    outline: none;
    border: 1px solid  black;
    border-radius: 10px;
    padding-left: 20px;
    
 }
::placeholder{
    color: black;
}
@media screen and (min-width: 268px) and (max-width: 780px){

    .header_gestion_terrain {
        width: 95%;
        height: 8vh; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="search"] {
        width: 100%; 
        height: 35px;
        font-size: 14px;
        outline: none;
        border: 1px solid silver;
        border-radius: 10px;
    }
}
