/* body{
    margin: 0%;
    padding: 0%;
}

.continair{
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    z-index: 9999;
    
}
.contenu{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    
}
.contenu::-webkit-scrollbar {
    width: 1px;
}

.contenu::-webkit-scrollbar-track {
    background: #fff;
}

.contenu::-webkit-scrollbar-thumb {
    background: #fff;
}
.options{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 10%;
    height: 8vh;
    margin-top: 5px;
    margin-left: 1vh;
    border-radius: 1 0px;
    display:flex;
    justify-content: centre;
    align-items:center;
}
.logo h4{
    color:chocolate;
}

.options a.active-option {
    font-weight: bold ;
    color:chocolate ;
    text-decoration: underline ;
    text-decoration-thickness: 3px ;
    text-underline-offset: 4px ;
    text-decoration-color: chocolate ;
}
.options a{
    text-decoration: none;
    color: black;
}
 */
