.jouers{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    padding-left: 2%;
}
h1{
    margin-left: 20px;
}
/*.jouers::-webkit-scrollbar {*/
/*    width: 1px;*/
/*}*/

/*.jouers::-webkit-scrollbar-track {*/
/*    background: #fff;*/
/*}*/

/*.jouers::-webkit-scrollbar-thumb {*/
/*    background: #fff;*/
/*}*/
.jouer {
    width: 16%;
    height: 32vh;
    margin: 0% 2% 2% 0%;
    border-radius: 10px;
    background-color: #29282D;
}
.profil{
    width: 100%;
    height: 10vh;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    width: 100%;
    height: 24vh;
    padding-left: 5px;
}
.photoProfile{
    width: 30%;
    height: 9vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: black; */
    border-radius: 100%;
}
.description p{
    font-size: 20px;
    color: #49AD90;
}
.description p b {
    margin-right: 5%;
    color: white;
}
@media screen and (min-width:284px) and (max-width: 480px) {
    .jouers{
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        padding-left: 2%;
    }
    h1{
        margin-left: 20px;
        font-size: 14px;
    }
    .jouer {
        width: 48%;
        height: 32vh;
        margin: 0% 2% 2% 0%;
        border-radius: 10px;
        background-color: #29282D;
    }
    .description p{
        font-size: 14px;
        color: #49AD90;
    }
    .description p b {
        margin-right: 5%;
        color: white;
    }
}
@media screen and (min-width:478px) and (max-width: 720px) {
    .jouers{
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        padding-left: 2%;
    }
    h1{
        margin-left: 20px;
        font-size: 14px;
    }
    .jouer {
        width: 30%;
        height: 32vh;
        margin: 0% 2% 2% 0%;
        border-radius: 10px;
        background-color: #29282D;
    }
    .description p{
        font-size: 14px;
        color: #49AD90;
    }
    .description p b {
        margin-right: 5%;
        color: white;
    }
}

