<div class="modal fade" id="createMoughataaModal" tabindex="-1" aria-labelledby="createMoughataaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:2px solid #0d5c45;">
                <h5 class="modal-title" id="createMoughataaModalLabel">Ajouter un Moughataa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createMoughataaForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nom_fr" class="form-label">Nom (Français)</label>
                        <input type="text" class="form-control" id="nom_fr" name="nom_fr" required>
                    </div>
                    <div class="mb-3">
                        <label for="nom_ar" class="form-label">Nom (Arabe)</label>
                        <input type="text" class="form-control" id="nom_ar" name="nom_ar" required>
                    </div>
                    <div class="mb-3">
                        <label for="wilaye" class="form-label">Wilaya</label>
                        <select class="form-control" id="wilaye" name="wilaye" required>
                            <option value="">Sélectionner une wilaya</option>
                            {% for wilaya in wilayas %}
                            <option value="{{ wilaya.code_wilaye }}">{{ wilaya.nom_wilaye_fr|default:wilaya.nom_wilaye_Ar }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn text-white" style="background-color:#49AD90;">Créer</button>
                </form>
            </div>
        </div>
    </div>
</div>
