<button type="button" class="btn btn-danger mt-2 ms-3" style="width:15%" data-bs-toggle="modal" data-bs-target="#ajouterIndisponibleModal">
    Ajouter une Indisponibilité
</button>

<div class="modal fade" id="ajouterIndisponibleModal" tabindex="-1" aria-labelledby="ajouterIndisponibleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="color:black;font-weight:400;">
            <div class="modal-header" style="border-bottom:2px solid #49AD90;">
                <h5 class="modal-title" id="ajouterIndisponibleModalLabel">Ajouter une Indisponibilité</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="ajouterIndisponibleForm" action="{% url 'liste_heure_indisponible' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="client" class="form-label">Client</label>
                        <input type="number" class="form-control" id="client" name="client" placeholder="Téléphone du client" required>
                    </div>
                    <div class="mb-3">
                        <label for="heure_debut" class="form-label">Heure de Début</label>
                        <input type="time" class="form-control" id="heure_debut" name="heure_debut" required>
                    </div>
                    <div class="mb-3">
                        <label for="heure_fin" class="form-label">Heure de Fin</label>
                        <input type="time" class="form-control" id="heure_fin" name="heure_fin" required>
                    </div>
                    <div class="Modifier_cite mt-2 d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>