<div class="modal fade" id="editWilayaModal" tabindex="-1" aria-labelledby="editWilayaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:2px solid #49AD90;">
                <h5 class="modal-title" id="editWilayaModalLabel">Modifier la Wilaya</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editWilayaForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="edit_code_wilaye" name="code_wilaye">
                    <div class="mb-3">
                        <label for="edit_nom_wilaye_fr" class="form-label">Nom (Français)</label>
                        <input type="text" class="form-control" id="edit_nom_wilaye_fr" name="nom_wilaye_fr">
                    </div>
                    <div class="mb-3">
                        <label for="edit_nom_wilaye_Ar" class="form-label">Nom (Arabe)</label>
                        <input type="text" class="form-control" id="edit_nom_wilaye_Ar" name="nom_wilaye_Ar">
                    </div>
                    <button type="submit" class="btn text-white" style="background-color:#085f46;">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>
